body {
    background-image: url('/static/images/bg-body.jpeg');
    height: 100vh;
}

.main-text {
    font-family: 'Hepta Slab', serif;
    text-decoration: underline;
    display: none;
}

.navbar-mapper {
    color: black;
    font-family: 'Lexend Zetta', sans-serif;
}

.navbar-mapper:hover {
    color: #3f4145;
    text-shadow: 2px 2px;
}

.watch-container {
    height: 70vh;
    width: 100vw;
}

#vids-container {
    width: 100%;
}

.inner-vids-container {
    border-radius: 30px;
    margin-top: 20px;
}

.inner-vids-container h1 {
    font-family: 'Lexend Zetta', sans-serif;
}

.title-contianer {
    height: 20%;
}

button {
    width: 100px;
    height: 37px;
}

iframe {
    width: 100%;
    height: 80%;
}

.loader {
    display: none;
    height: 150px;
    width: 150px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}